<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>louis-app</display-name>

	<servlet>
		<servlet-name>Index</servlet-name>
		<servlet-class>Mainblog.Index</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Index</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>ListeArticle</servlet-name>
		<servlet-class>Mainblog.ListeArticle</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ListeArticle</servlet-name>
		<url-pattern>/listeArticle</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>ArticleDesc</servlet-name>
		<servlet-class>Mainblog.ArticleDesc</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ArticleDesc</servlet-name>
		<url-pattern>/article</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>AddArticle</servlet-name>
		<servlet-class>Mainblog.AddArticle</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddArticle</servlet-name>
		<url-pattern>/addArticle</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>UpdateArticle</servlet-name>
		<servlet-class>Mainblog.UpdateArticle</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateArticle</servlet-name>
		<url-pattern>/updateArticle</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>MesArticles</servlet-name>
		<servlet-class>Mainblog.MesArticles</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MesArticles</servlet-name>
		<url-pattern>/mesArticles</url-pattern>
	</servlet-mapping>



	<servlet>
		<servlet-name>ListeAuteur</servlet-name>
		<servlet-class>Mainblog.ListeAuteur</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ListeAuteur</servlet-name>
		<url-pattern>/listeAuteur</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>ArticleAuteur</servlet-name>
		<servlet-class>Mainblog.ArticleAuteur</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ArticleAuteur</servlet-name>
		<url-pattern>/articleAuteur</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>AddAuteur</servlet-name>
		<servlet-class>Mainblog.AddAuteur</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddAuteur</servlet-name>
		<url-pattern>/inscription</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>Connexion</servlet-name>
		<servlet-class>Mainblog.Connexion</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Connexion</servlet-name>
		<url-pattern>/connexion</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>Deconnexion</servlet-name>
		<servlet-class>Mainblog.Deconnexion</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Deconnexion</servlet-name>
		<url-pattern>/deconnexion</url-pattern>
	</servlet-mapping>


	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>